/* Visually hidden elements */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

/* Global styles reset */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.btn {
  font-weight: 700;
  cursor: pointer;
}

.address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  display: block;
  text-decoration: none;
  color: inherit;
}

input,
textarea {
  outline: none;
}

/* Html body styles */
body {
  font-family: "Roboto", sans-serif;
  color: #757575;
  background-color: #ffffff;
}

/* Container */
.container {
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/* Margins and paddings for sections */
.main-index,
.main-portfolio {
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .main-index,
.main-portfolio {
    padding-bottom: 60px;
  }
}

.main-portfolio {
  padding-top: 94px;
}
@media screen and (max-width: 1199px) {
  .main-portfolio {
    padding-top: 60px;
  }
}

section:not(.clients, .portfolio) {
  margin-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  section:not(.clients, .portfolio) {
    margin-bottom: 60px;
  }
}

/* Visually observed section elements */
.visually-observed {
  margin-bottom: 50px;
  font-style: normal;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

/* Visually hidden section for mobile and tablet */
@media screen and (max-width: 1199px) {
  .activities {
    display: none;
  }
}

/* Contacts in header */
.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* Color of hovered / focused icons */
}
.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-size: 14px;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  /* Hover and focus for contacts-links */
}
.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
}
.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

/* === Social links === */
.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.social-links__item:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition-property: background-color, fill;
  transition-property: background-color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover, .social-link:focus {
  background-color: #2196f3;
}

/* Subscribe block in footer */
.subscribe-form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
@media screen and (max-width: 1199px) {
  .subscribe-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.subscribe-form__label {
  position: absolute;
  left: 16px;
  -webkit-transform: translateY(16px);
          transform: translateY(16px);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1199px) {
  .subscribe-form__label {
    top: 3px;
  }
}
.subscribe-form__input {
  padding-left: 16px;
  width: 358px;
  height: 50px;
  font-style: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
@media screen and (max-width: 1199px) {
  .subscribe-form__input {
    width: 450px;
  }
}
@media screen and (max-width: 1199px) {
  .subscribe-form__input {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe-form__input {
    margin-right: 12px;
  }
}
.subscribe-form__input:not(:-moz-placeholder-shown) + .subscribe-form__label {
  transform: translateY(66px);
}
.subscribe-form__input:not(:-ms-input-placeholder) + .subscribe-form__label {
  transform: translateY(66px);
}
.subscribe-form__input:focus + .subscribe-form__label, .subscribe-form__input:not(:placeholder-shown) + .subscribe-form__label {
  -webkit-transform: translateY(66px);
          transform: translateY(66px);
}
@media screen and (max-width: 767px) {
  .subscribe-form__input:not(:-moz-placeholder-shown) + .subscribe-form__label {
    transform: translateY(-26px);
  }
  .subscribe-form__input:not(:-ms-input-placeholder) + .subscribe-form__label {
    transform: translateY(-26px);
  }
  .subscribe-form__input:focus + .subscribe-form__label, .subscribe-form__input:not(:placeholder-shown) + .subscribe-form__label {
    -webkit-transform: translateY(-26px);
            transform: translateY(-26px);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscribe-form__input:not(:-moz-placeholder-shown) + .subscribe-form__label {
    transform: translate(-66px, 13px);
  }
  .subscribe-form__input:not(:-ms-input-placeholder) + .subscribe-form__label {
    transform: translate(-66px, 13px);
  }
  .subscribe-form__input:focus + .subscribe-form__label, .subscribe-form__input:not(:placeholder-shown) + .subscribe-form__label {
    -webkit-transform: translate(-66px, 13px);
            transform: translate(-66px, 13px);
  }
}
.subscribe-form__button {
  width: 200px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  -webkit-transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, box-shadow;
  transition-property: color, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-form__button:hover, .subscribe-form__button:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.subscribe-form__icon {
  margin-left: 10px;
  fill: #ffffff;
}

/* Line border */
.header {
  border-bottom: 1px solid #ececec;
  /* Header container */
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__contacts {
  margin-left: auto;
}
@media screen and (max-width: 768px) {
  .header__contacts {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .header__contacts-item:not(:last-child) {
    margin-right: 50px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__contacts-item:not(:last-child) {
    margin-bottom: 10px;
  }
}
.header__contacts-link {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
@media screen and (min-width: 1200px) {
  .header__contacts-link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__contacts-link {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

/* Logo */
.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
  color: #2196f3;
}
@media screen and (max-width: 768px) {
  .logo {
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 24px;
    line-height: 1.1666666667;
  }
}
.logo--dark {
  color: #000000;
}
.logo--light {
  color: #ffffff;
}

/* Main menu */
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 768px) {
  .nav__list {
    display: none;
  }
}
.nav__item {
  position: relative;
}
.nav__item:not(:last-child) {
  margin-right: 50px;
}
.nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  /* Hover and focus for nav-links */
}
.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}

.menu-toggle {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle__icon {
  fill: #212121;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-toggle:hover .menu-toggle__icon, .menu-toggle:focus .menu-toggle__icon {
  fill: #2196f3;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: #ffffff;
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.menu-container .menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
}

.mobile-menu__list {
  margin-bottom: 306px;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 767px) {
  .mobile-menu__item:not(:last-child) {
    margin-bottom: 32px;
  }
}
.mobile-menu__link {
  color: #212121;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  /* Hover and focus for nav-links */
}
.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: #2196f3;
}
@media screen and (max-width: 767px) {
  .mobile-menu__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-bottom: 64px;
  }
}
.mobile-menu__contacts-item:last-child {
  margin-bottom: 32px;
}
.mobile-menu__contacts .contacts__icon {
  display: none;
}
.mobile-menu__social-links-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.mobile-menu__social-links-item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mobile-menu__social-links-item:not(:first-child) {
  padding-left: 10px;
}
.mobile-menu__social-link {
  width: 100%;
  height: 100%;
  border-radius: 0%;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .phone-contact {
    font-size: 34px;
    line-height: 1.1764705882;
    letter-spacing: 0.02em;
  }
}

@media screen and (max-width: 767px) {
  .email-contact {
    font-size: 24px;
    line-height: 1.1666666667;
    letter-spacing: 0.02em;
  }
}

/* Underline of current page */
.current {
  color: #2196f3;
}
@media screen and (min-width: 768px) {
  .current::after {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    content: "";
    background-color: #2196f3;
  }
}

/* === MAIN PAGE === */
/* == Hero section == */
.hero {
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  height: 600px;
  max-width: 1600px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #c4c4c4;
  /* Button Order service */
}
@media screen and (min-width: 480px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-480.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-480.jpg);
  }
}
@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero@2x-960.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero@2x-960.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-768.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-768.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero@2x-1536.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero@2x-1536.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-1600.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-1600.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero@2x-3200.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero@2x-3200.jpg);
  }
}
.hero__heading {
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}
.hero__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px hsla(0deg, 0%, 0%, 0.25);
          box-shadow: 0px 4px 4px hsla(0deg, 0%, 0%, 0.25);
  border-radius: 4px;
  border: 0;
}

/* == Feature section == */
.feature-list {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .feature-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 480px) {
  .feature-list__item {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .feature-list__item {
    margin-right: 30px;
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .feature-list__item {
    width: calc((100% - 90px) / 4);
  }
}
@media screen and (max-width: 1199px) {
  .feature-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .feature-list__item:nth-child(2n) {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .feature-list__item:nth-child(4n) {
    margin-right: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .feature-list__item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}

.feature__icon-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  width: 100%;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}
.feature__heading {
  margin-bottom: 10px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.feature__description {
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
}

/* == Activities section == */
.activities-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.activities-list__item:not(:last-child) {
  margin-right: 30px;
}

.activity__thumb {
  position: relative;
}
.activity__description {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

/* == Team section == */
.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}
@media screen and (max-width: 1199px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.team-list__item {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px 0px hsla(0deg, 0%, 0%, 0.25);
          box-shadow: 0px 4px 4px 0px hsla(0deg, 0%, 0%, 0.25);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 480px) {
  .team-list__item {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .team-list__item {
    margin-right: 30px;
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team-list__item {
    width: calc((100% - 90px) / 4);
  }
}
@media screen and (max-width: 1199px) {
  .team-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list__item:nth-child(2n) {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .team-list__item:nth-child(4n) {
    margin-right: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list__item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 480px) {
  .member__img {
    width: 450px;
    height: 460px;
  }
}
@media screen and (min-width: 768px) {
  .member__img {
    width: 354px;
    height: 374px;
  }
}
@media screen and (min-width: 1200px) {
  .member__img {
    width: 270px;
    height: 260px;
  }
}
.member__meta {
  padding: 30px 15px 24px;
}
@media screen and (min-width: 1200px) {
  .member__meta {
    padding-bottom: 30px;
  }
}
.member__name {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.member__position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
.member__social-link {
  fill: #afb1b8;
  background-color: inherit;
}
.member__social-link:hover, .member__social-link:focus {
  fill: #ffffff;
}

/* == Clients section == */
.client-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 1199px) {
  .client-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.client-list__item {
  margin-bottom: 30px;
  width: 210px;
}
@media screen and (min-width: 480px) {
  .client-list__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .client-list__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .client-list__item {
    margin-bottom: 0;
    width: calc((100% - 150px) / 6);
  }
}
.client-list__item:not(:last-child) {
  margin-right: 0;
}
@media screen and (min-width: 480px) {
  .client-list__item:not(:last-child) {
    margin-right: 30px;
  }
}
@media screen and (max-width: 480px) {
  .client-list__item:last-child {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 767px) {
  .client-list__item:nth-child(2n) {
    margin-right: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .client-list__item:nth-child(3n) {
    margin-right: 0;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .client-list__item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .client-list__item:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}
.client-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 92px;
  border: 1px solid #afb1b8;
  color: #afb1b8;
  border-radius: 4px;
  -webkit-transition-property: border-color, color;
  transition-property: border-color, color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.client-list__link:hover, .client-list__link:focus {
  border-color: #2196f3;
  color: #2196f3;
}
.client-list__icon {
  fill: currentColor;
}

/* Filter */
.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .filter {
    margin-bottom: 40px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}
@media screen and (min-width: 768px) {
  .filter {
    margin-bottom: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 50px;
  }
}
.filter__item:not(:last-child) {
  margin-right: 8px;
}
@media screen and (max-width: 767px) {
  .filter__item:not(:last-child) {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 767px) {
  .filter__item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 767px) {
  .filter__item:nth-last-child(3) {
    margin-bottom: 0;
  }
}
.filter__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px 22px;
  font-family: inherit;
  font-style: normal;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: #212121;
  background-color: #f5f4fa;
  border: none;
  border-radius: 4px;
  -webkit-transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, box-shadow;
  transition-property: color, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__button:hover, .filter__button:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Portfolio cards */
@media screen and (min-width: 768px) {
  .grid {
    margin: -15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.grid__item {
  position: relative;
  margin: 15px;
  background-color: #ffffff;
}
@media screen and (min-width: 480px) {
  .grid__item {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .grid__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .grid__item {
    width: 370px;
  }
}
.grid__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.grid__link:hover {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.project {
  padding: 20px 24px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
@media screen and (min-width: 480px) {
  .project__img {
    width: 450px;
    height: 294px;
  }
}
@media screen and (min-width: 768px) {
  .project__img {
    width: 354px;
    height: 294px;
  }
}
@media screen and (min-width: 1200px) {
  .project__img {
    width: 370px;
    height: 294px;
  }
}
.project__name {
  margin-bottom: 4px;
  font-style: normal;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.project__type {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}

.card__overlay {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.card__description {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9019607843);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}
.grid__link:hover .card__description {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

/* === FOOTER === */
.footer {
  padding: 60px 0;
  background-color: #2f303a;
}
@media screen and (min-width: 768px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media screen and (max-width: 1199px) {
  .footer-block {
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-block:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 1199px) {
  .footer-block:not(:last-child) {
    margin-bottom: 60px;
  }
}
.footer__logo {
  margin-bottom: 20px;
}
.footer__contacts {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* Email and phone interactive contacts in footer */
}
@media screen and (max-width: 1199px) {
  .footer__contacts {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.footer__contacts-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer__contacts-link {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer__social-link {
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
}
.footer__social-link:hover, .footer__social-link:focus {
  background-color: #2196f3;
}

/* Postal address not interactive contact in footer */
.postal-address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

/* Studio social links */
.social-links-heading-in-footer,
.subscribe-heading {
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: justify;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
}
@media screen and (max-width: 1199px) {
  .social-links-heading-in-footer,
.subscribe-heading {
    text-align: center;
  }
}

/* === MODAL WINDOW === */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition-property: opacity transform;
  transition-property: opacity transform;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  pointer-events: none;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 450px;
  min-height: 581px;
  padding: 40px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .modal-window {
    width: 528px;
  }
}
.modal-window-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.modal-window__close-button {
  position: absolute;
  top: -32px;
  right: -32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  background-color: #ffffff;
  color: #000000;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.modal-window__close-button:hover > .close-button__icon {
  fill: #2196f3;
}
.modal-window__heading {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.modal-window-form {
  margin-right: 0;
  margin-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-field {
  position: relative;
  width: 100%;
  height: 58px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.form-field-comment {
  margin-bottom: 20px;
  height: 138px;
}
.form-field-checkbox {
  margin-bottom: 30px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form-field-button {
  margin-bottom: 0;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form-field__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: #757575;
}
.form-field__input, .form-field__user-comment {
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field__user-comment {
  padding: 16px 12px;
  resize: none;
  height: 120px;
}
.form-field__user-comment::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-field__user-comment::-moz-placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-field__user-comment:-ms-input-placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-field__user-comment::-ms-input-placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-field__user-comment::placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-field__submit-button {
  width: 200px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
}
.form-field__submit-button:hover {
  background-color: #188ce8;
}
.form-field__icon {
  position: absolute;
  top: 32px;
  left: 15px;
  fill: inherit;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field:focus-within .form-field__input, .form-field:focus-within .form-field__user-comment {
  border-color: #2196f3;
}
.form-field:focus-within .form-field__icon {
  fill: #2196f3;
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.checkbox__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.checkbox__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  color: #757575;
}
@media screen and (min-width: 1200px) {
  .checkbox__text {
    font-size: 14px;
    line-height: 1.7142857143;
  }
}
.checkbox__contract-link {
  display: inline;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2196f3;
}
.checkbox__icon {
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;
  background-image: none;
  -webkit-transition-property: border-color background-image;
  transition-property: border-color background-image;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox__input:checked + .checkbox__icon {
  border-color: transparent;
  background-image: url(../images/custom-checkbox/icon-check-new.svg);
  background-size: contain;
  background-origin: border-box;
}/*# sourceMappingURL=main.css.map */