/* == Clients section == */

.client-list {
  display: flex;
  justify-content: center;

  @media screen and (max-width: calc($desktop - 1px)) {
    flex-wrap: wrap;
  }

  &__item {
    margin-bottom: 30px;
    width: 210px;

    @media screen and (min-width: $mobile) {
      width: calc((100% - 1 * 30px) / 2);
    }
    @media screen and (min-width: $tablet) {
      width: calc((100% - 2 * 30px) / 3);
    }
    @media screen and (min-width: $desktop) {
      margin-bottom: 0;

      width: calc((100% - 5 * 30px) / 6);
    }

    &:not(:last-child) {
      margin-right: 0;

      @media screen and (min-width: $mobile) {
        margin-right: 30px;
      }
    }

    &:last-child {
      @media screen and (max-width: $mobile) {
        margin-bottom: 0;
      }
    }

    &:nth-child(2n) {
      @media screen and (max-width: calc($tablet - 1px)) {
        margin-right: 0;
      }
    }

    &:nth-child(3n) {
      @media screen and (min-width: $tablet) and (max-width: calc($desktop - 1px)) {
        margin-right: 0;
      }
    }

    &:nth-last-child(-n + 2) {
      @media screen and (min-width: $mobile) and (max-width: calc($tablet - 1px)) {
        margin-bottom: 0;
      }
    }

    &:nth-last-child(-n + 3) {
      @media screen and (min-width: $tablet) and (max-width: calc($desktop - 1px)) {
        margin-bottom: 0;
      }
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 92px;

    border: 1px solid $background-color-social-link;
    color: $background-color-social-link;
    border-radius: 4px;

    transition-property: border-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      border-color: $accent-color;
      color: $accent-color;
    }
  }

  &__icon {
    fill: currentColor;
  }
}
