/* Contacts in header */

.contacts {
  display: flex;

  &__link {
    display: flex;
    align-items: center;

    font-style: normal;
    font-size: 14px;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

// @media screen and (min-width: $tablet) and (max-width: calc($desktop - 1px)) {
//       justify-content: flex-start;
// }


    /* Hover and focus for contacts-links */

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }

  /* Color of hovered / focused icons */

  &__icon {
    margin-right: 10px;

    fill: currentColor;
  }
}
