/* === FOOTER === */

.footer {
  padding: 60px 0;

  background-color: $background-footer;

  &-container {
    @media screen and (min-width: $tablet) {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      flex-wrap: wrap;
    }
    @media screen and (min-width: $tablet) and (max-width: calc($desktop - 1px)) {
      justify-content: space-around;
    }
  }

  &-block {
    @media screen and (max-width: calc($desktop - 1px)) {
      text-align: center;
    }

    &:last-child {
      @media screen and (min-width: $tablet) and (max-width: calc($desktop - 1px)) {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }

    &:not(:last-child) {
      @media screen and (max-width: calc($desktop - 1px)) {
        margin-bottom: 60px;
      }
    }
  }

  &__logo {
    margin-bottom: 20px;
  }

  &__contacts {
    flex-direction: column;

    @media screen and (max-width: calc($desktop - 1px)) {
      align-items: center;
    }

    &-item:not(:last-child) {
      margin-bottom: 9px;
    }

    /* Email and phone interactive contacts in footer */

    &-link {
      justify-content: left;

      line-height: 1.71;
      letter-spacing: 0.03em;

      color: $interactive-contacts-in-footer-color;
    }
  }

  &__social-link {
    background-color: $footer-social-link-background-color;
    fill: $white-color;

    &:hover,
    &:focus {
      background-color: $accent-color;
    }
  }
}

/* Postal address not interactive contact in footer */

.postal-address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $white-color;
}

/* Studio social links */

.social-links-heading-in-footer,
.subscribe-heading {
  margin-bottom: 20px;

  text-transform: uppercase;
  text-align: justify;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  color: $white-color;

  @media screen and (max-width: calc($desktop - 1px)) {
    text-align: center;
  }
}
