/* Line border */

.header {
  border-bottom: 1px solid $header-bottom-border-color;

  /* Header container */

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__contacts {
    margin-left: auto;

    @media screen and (max-width: $tablet) {
      display: none;
    }
    @media screen and (min-width: $tablet) and (max-width: calc($desktop - 1px)) {
      flex-direction: column;
    }

    &-item:not(:last-child) {
      @media screen and (min-width: $desktop) {
        margin-right: 50px;
      }
      @media screen and (min-width: $tablet) and (max-width: calc($desktop - 1px)) {
        margin-bottom: 10px;
      }
    }

    &-link {
      justify-content: center;

      font-weight: 500;
      line-height: 1.14;
      letter-spacing: 0.02em;

      color: $main-color;

      @media screen and (min-width: $desktop) {
        padding-top: 32px;
        padding-bottom: 32px;
      }

      @media screen and (min-width: $tablet) and (max-width: calc($desktop - 1px)) {
        justify-content: flex-start;
      }
    }
  }
}
