// /* == Mobile menu == */

// Menu toggle

.menu-toggle {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;

  @media screen and (min-width: $tablet) {
    display: none;
  }

  &__icon {
    fill: $second-color;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover &__icon,
  &:focus &__icon {
    fill: $accent-color;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: $white-color;
  z-index: 999;

  transform: translateX(100%);

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &.is-open {
    transform: translateX(0);
  }

  & .menu-toggle {
    position: absolute;
    top: 10px;
    right: 15px;
  }
}

.mobile-menu {
  &__list {
    margin-bottom: 306px;

    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: calc(48 / 40);
    letter-spacing: 0.02em;
  }

  &__item {
    &:not(:last-child) {
      @media screen and (max-width: calc($tablet - 1px)) {
        margin-bottom: 32px;
      }
    }
  }

  &__link {
    color: $second-color;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    /* Hover and focus for nav-links */

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }

  &__contacts {
    @media screen and (max-width: calc($tablet - 1px)) {
      flex-direction: column-reverse;

      margin-bottom: 64px;
    }

    &-item:last-child {
      margin-bottom: 32px;
    }

    & .contacts__icon {
      display: none;
    }
  }

  &__social-links-list {
    display: flex;
    justify-content: start;
  }

  &__social-links-item {
    &:not(:last-child) {
      padding-right: 10px;

      border-right: 1px solid rgba(33, 33, 33, 0.2);
    }

    &:not(:first-child) {
      padding-left: 10px;
    }
  }

  &__social-link {
    width: 100%;
    height: 100%;

    border-radius: 0%;

    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: calc(22 / 18);
    letter-spacing: 0.02em;

    color: $accent-color;
  }
}

.phone-contact {
  @media screen and (max-width: calc($tablet - 1px)) {
    font-size: 34px;
    line-height: calc(40 / 34);
    letter-spacing: 0.02em;
  }
}

.email-contact {
  @media screen and (max-width: calc($tablet - 1px)) {
    font-size: 24px;
    line-height: calc(28 / 24);
    letter-spacing: 0.02em;
  }
}
