/* === MODAL WINDOW === */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: $backdrop-background-color;
  opacity: 1;

  transition-property: opacity transform;
  transition-duration: 500ms;

  &.is-hidden {
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    pointer-events: none;
  }
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 450px;
  min-height: 581px;
  padding: 40px;

  background-color: $white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  @media screen and (min-width: $desktop) {
    width: 528px;
  }

  &-container {
    position: relative;

    width: 100%;
    height: 100%;
  }

  &__close-button {
    position: absolute;
    top: -32px;
    right: -32px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 50%;

    background-color: $white-color;
    color: $black-color;
    border: 1px solid rgba(0, 0, 0, 0.1);

    &:hover > .close-button__icon {
      fill: $accent-color;
    }
  }

  &__heading {
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: calc(23 / 20);
    text-align: center;
    letter-spacing: 0.03em;

    color: $second-color;
  }

  &-form {
    margin-right: 0;
    margin-left: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.form-field {
  position: relative;
  width: 100%;
  height: 58px;
  margin-bottom: 10px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &-comment {
    margin-bottom: 20px;

    height: 138px;
  }

  &-checkbox {
    margin-bottom: 30px;

    height: 24px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &-button {
    margin-bottom: 0;

    height: 50px;

    align-items: center;
  }

  &__label {
    margin-bottom: 4px;

    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;

    color: $main-color;
  }

  &__input,
  &__user-comment {
    padding-left: 42px;

    width: 100%;
    height: 40px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__user-comment {
    padding: 16px 12px;

    resize: none;
    height: 120px;

    &::placeholder {
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.01em;

      color: rgba(117, 117, 117, 0.5);
    }
  }

  &__submit-button {
    width: 200px;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;

    color: $white-color;
    background-color: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;

    &:hover {
      background-color: $button-modal-background-color;
    }
  }

  &__icon {
    position: absolute;
    top: 32px;
    left: 15px;

    fill: inherit;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:focus-within &__input,
  &:focus-within &__user-comment {
    border-color: $accent-color;
  }

  &:focus-within &__icon {
    fill: $accent-color;
  }
}

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;

  &__label {
    display: flex;
    align-items: center;
  }

  &__text {
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.03em;

    color: $main-color;

    @media screen and (min-width: $desktop) {
      font-size: 14px;
      line-height: calc(24 / 14);
    }
  }

  &__contract-link {
    display: inline;

    text-decoration-line: underline;

    color: $accent-color;
  }

  &__icon {
    margin-right: 8px;

    width: 16px;
    height: 15px;

    border: 2px solid $second-color;
    border-radius: 4px;
    background-image: none;

    transition-property: border-color background-image;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__input:checked + &__icon {
    border-color: transparent;
    background-image: url(../images/custom-checkbox/icon-check-new.svg);
    background-size: contain;
    background-origin: border-box;
  }
}
