/* Portfolio cards */

.grid {
  @media screen and (min-width: $tablet) {
    margin: -15px;

    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    position: relative;

    margin: 15px;

    // display: flex;
    // flex-direction: column;
    // height: 100%;

    background-color: $white-color;

    @media screen and (min-width: $mobile) {
      width: 450px;
    }
    @media screen and (min-width: $tablet) {
      width: 354px;
    }
    @media screen and (min-width: $desktop) {
      width: 370px;
    }
  }

  &__link {
    display: flex;
    flex-direction: column;

    height: 100%;

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
}

.project {
  padding: 20px 24px;

  flex-grow: 1;

  border-left: 1px solid $portfolio-card-border-color;
  border-right: 1px solid $portfolio-card-border-color;
  border-bottom: 1px solid $portfolio-card-border-color;

  @media screen and (min-width: $tablet) and (max-width: calc($desktop - 1px)) {
  }

  &__img {
    @media screen and (min-width: $mobile) {
      width: 450px;
      height: 294px;
    }
    @media screen and (min-width: $tablet) {
      width: 354px;
      height: 294px;
    }
    @media screen and (min-width: $desktop) {
      width: 370px;
      height: 294px;
    }
  }

  &__name {
    margin-bottom: 4px;

    font-style: normal;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: $second-color;
  }

  &__type {
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;

    color: $main-color;
  }
}

.card {
  &__overlay {
    position: relative;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
  }

  &__description {
    position: absolute;
    left: 0;
    bottom: 0;

    height: 100%;

    padding: 63px 24px;

    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: $white-color;
    background-color: #2196f3e6;

    transform: translateY(100%);

    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: linear;

    .grid__link:hover & {
      transform: translateY(0%);
    }
  }
}
