/* Portfolio cards */

.grid {
  margin: -15px;

  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: $mobile) {
  }
  @media screen and (min-width: $tablet) {
  }
  @media screen and (min-width: $desktop) {
  }

  &__item {
    position: relative;

    margin: 15px;

    background-color: $white-color;

    @media screen and (min-width: $mobile) {
    }
    @media screen and (min-width: $tablet) {
    }
    @media screen and (min-width: $desktop) {
    }
  }

  &__link {
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: $mobile) {
    }
    @media screen and (min-width: $tablet) {
    }
    @media screen and (min-width: $desktop) {
    }

    &:hover {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

      @media screen and (min-width: $mobile) {
      }
      @media screen and (min-width: $tablet) {
      }
      @media screen and (min-width: $desktop) {
      }
    }
  }
}

.project {
  padding: 20px 24px;

  border-left: 1px solid $portfolio-card-border-color;
  border-right: 1px solid $portfolio-card-border-color;
  border-bottom: 1px solid $portfolio-card-border-color;

  @media screen and (min-width: $mobile) {
  }
  @media screen and (min-width: $tablet) {
  }
  @media screen and (min-width: $desktop) {
  }

  &__name {
    margin-bottom: 4px;

    font-style: normal;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: $second-color;

    @media screen and (min-width: $mobile) {
    }
    @media screen and (min-width: $tablet) {
    }
    @media screen and (min-width: $desktop) {
    }
  }

  &__type {
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;

    color: $main-color;

    @media screen and (min-width: $mobile) {
    }
    @media screen and (min-width: $tablet) {
    }
    @media screen and (min-width: $desktop) {
    }
  }
}

.card {
  &__overlay {
    position: relative;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    @media screen and (min-width: $mobile) {
    }
    @media screen and (min-width: $tablet) {
    }
    @media screen and (min-width: $desktop) {
    }
  }

  &__description {
    position: absolute;
    left: 0;
    bottom: 0;

    padding: 63px 24px;

    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: $white-color;
    background-color: #2196f3e6;

    transform: translateY(100%);

    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: linear;

    @media screen and (min-width: $mobile) {
    }
    @media screen and (min-width: $tablet) {
    }
    @media screen and (min-width: $desktop) {
    }

    .grid__link:hover & {
      transform: translateY(0%);

      @media screen and (min-width: $mobile) {
      }
      @media screen and (min-width: $tablet) {
      }
      @media screen and (min-width: $desktop) {
      }
    }
  }
}
