/* Margins and paddings for sections */

.main-index,
.main-portfolio {
  padding-bottom: 94px;

  @media screen and (max-width: calc($desktop - 1px)) {
    padding-bottom: 60px;
  }
}

.main-portfolio {
  padding-top: 94px;

  @media screen and (max-width: calc($desktop - 1px)) {
    padding-top: 60px;
  }
}

section:not(.clients, .portfolio) {
  margin-bottom: 94px;

  @media screen and (max-width: calc($desktop - 1px)) {
    margin-bottom: 60px;
  }
}

/* Visually observed section elements */

.visually-observed {
  margin-bottom: 50px;

  font-style: normal;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

/* Visually hidden section for mobile and tablet */

.activities {
  @media screen and (max-width: calc($desktop - 1px)) {
    display: none;
  }
}
