/* Paddings for all sections except Hero */

// section:not(.hero) {
//   padding-bottom: 94px;
//   padding-top: 94px;
// }

/* Zero bottom padding for feature section */

//overflows previous padding

// .features {
//   padding-bottom: 0;
// }

/* Margins for sections */

.main-index,
.main-portfolio {
  padding-bottom: 94px;

  @media screen and (max-width: calc($desktop - 1px)) {
    padding-bottom: 60px;
  }
}

.main-portfolio {
  padding-top: 94px;
  
  @media screen and (max-width: calc($desktop - 1px)) {
    padding-top: 60px;
      }
}

section:not(.clients, .portfolio) {
  margin-bottom: 94px;

  @media screen and (max-width: calc($desktop - 1px)) {
    margin-bottom: 60px;
  }
}



/* Visually observed section elements */

.visually-observed {
  margin-bottom: 50px;

  font-style: normal;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

.activities {
  @media screen and (max-width: calc($desktop - 1px)) {
    display: none;
  }
  @media screen and (min-width: $tablet) {
  }
  @media screen and (min-width: $desktop) {
  }
}
