/* == Team section == */

.team {
  background-color: $background-color-second;

  &-list {
    @media screen and (min-width: $mobile) {
    }
    @media screen and (min-width: $tablet) {
      display: flex;
      flex-wrap: wrap;
    }
    @media screen and (min-width: $desktop) {
    }
  }

  &-list__item {
    background-color: $white-color;
    box-shadow: 0px 4px 4px 0px hsla(0, 0%, 0%, 0.25);
    border-radius: 0px 0px 4px 4px;

    @media screen and (min-width: $mobile) {
      width: 100%;
    }
    @media screen and (min-width: $tablet) {
      margin-right: 30px;
      width: calc((100% - 1 * 30px) / 2);
    }
    @media screen and (min-width: $desktop) {
      width: calc((100% - 3 * 30px) / 4);
    }

    &:not(:last-child) {
      @media screen and (max-width: calc($desktop - 1px)) {
        margin-bottom: 30px;
      }
      @media screen and (min-width: $tablet) {
      }
      @media screen and (min-width: $desktop) {
      }
    }

    &:nth-child(2n) {
      @media screen and (min-width: $mobile) {
      }
      @media screen and (min-width: $tablet) and (max-width: calc($desktop - 1px)) {
        margin-right: 0;
      }
      @media screen and (min-width: $desktop) {
      }
    }

    &:nth-child(4n) {
      @media screen and (min-width: $mobile) {
      }
      @media screen and (min-width: $tablet) {
      }
      @media screen and (min-width: $desktop) {
        margin-right: 0;
      }
    }

    &:nth-last-child(-n + 2) {
      @media screen and (min-width: $mobile) {
      }
      @media screen and (min-width: $tablet) and (max-width: calc($desktop - 1px)) {
        margin-bottom: 0;
      }
      @media screen and (min-width: $desktop) {
      }
    }
  }
}

.member {
  &__img {
    // max-width: 450px;
    @media screen and (min-width: $mobile) {
      width: 450px;
      height: 460px;
    }
    @media screen and (min-width: $tablet) {
      width: 354px;
      height: 374px;
    }
    @media screen and (min-width: $desktop) {
      width: 270px;
      height: 260px;
    }
  }

  &__meta {
    padding: 30px 15px 24px;
    
    @media screen and (min-width: $mobile) {
    }
    @media screen and (min-width: $tablet) {
    }
    @media screen and (min-width: $desktop) {
      padding-bottom: 30px;
    }
  }

  &__name {
    margin-bottom: 10px;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;

    color: $second-color;

    @media screen and (min-width: $mobile) {
    }
    @media screen and (min-width: $tablet) {
    }
    @media screen and (min-width: $desktop) {
    }
  }

  &__position {
    margin-bottom: 16px;

    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;

    color: $main-color;

    @media screen and (min-width: $mobile) {
    }
    @media screen and (min-width: $tablet) {
    }
    @media screen and (min-width: $desktop) {
    }
  }

  &__social-link {
    fill: $background-color-social-link;
    background-color: inherit;

    @media screen and (min-width: $mobile) {
    }
    @media screen and (min-width: $tablet) {
    }
    @media screen and (min-width: $desktop) {
    }

    &:hover,
    &:focus {
      fill: $white-color;

      @media screen and (min-width: $mobile) {
      }
      @media screen and (min-width: $tablet) {
      }
      @media screen and (min-width: $desktop) {
      }
    }
  }
}
